.__CLASS__ header
{
	background: #eee;
	padding: 0 1em;
	border-bottom: 1px solid #bbb;
}

.__CLASS__ header .logo
{
	font-size: 4em;
	font-weight: bold;
	color: #777;
}

.__CLASS__ header .logo > span
{
	font-weight: normal;
	color: #bbb;
}